@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Damion|Lato:300,300i,400,400i,700,700i,900,900i);
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 100%; }

section#Home .wr .nav_top, section#Service .wr .nav_top, section#About .wr .nav_top, section#Work .wr .nav_top, section#Contact .wr .nav_top, section#Home .wr .nav_top nav.big_menu ul, section#Service .wr .nav_top nav.big_menu ul, section#About .wr .nav_top nav.big_menu ul, section#Work .wr .nav_top nav.big_menu ul, section#Contact .wr .nav_top nav.big_menu ul, .wr, .container_for_text, section#Home .wr .dots, section#Service .wr .services, section#About .wr .about .green, section#About .wr .team, section#About .wr .team .card ul.social, section#Work .wr .row, section#Work .wr .row nav ul, section#Work .wr .works, section#Work .wr .works .card, section#Contact .wr .container, section#Contact .wr .container .adress .row2, section#Contact .wr .container .forms .row2, section#Contact .wr .container .forms .row3, section#Contact .social, section#Contact .social ul.for-social {
  display: flex;
  -webkit-flex-wrap: wrap;
  /*команда для флекс контейнера - можно переносить блоки на след строку*/
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap; }

section#Home .wr .nav_top nav.big_menu ul, section#Service .wr .nav_top nav.big_menu ul, section#About .wr .nav_top nav.big_menu ul, section#Work .wr .nav_top nav.big_menu ul, section#Contact .wr .nav_top nav.big_menu ul, section#Home .wr .dots, section#About .wr .team .card ul.social, section#Work .wr .row nav ul, section#Contact .social ul.for-social {
  list-style: none;
  padding: 0;
  margin: 0; }

section#Home .wr .nav_top, section#Service .wr .nav_top, section#About .wr .nav_top, section#Work .wr .nav_top, section#Contact .wr .nav_top {
  /*╤Б╤В╨░╨╜╨┤╨░╤А╤В╨╜╤Л╨╣ ╤Н╨║╤Б╤В╨╡╨╜╨┤ ╨┤╨╗╤П ╨║╨╛╨╜╤В╨╡╨╣╨╜╨╡╤А╨░*/
  flex-direction: row;
  justify-content: space-between;
  /*╨▒╨╗╨╛╨║╨╕ ╨▒╤Г╨┤╤Г╤В ╨┐╤А╨╕╤Е╨╕╨╝╨░╤В╤М╤Б╤П ╨┐╨╛ ╨║╤А╨░╤П╨╝*/
  flex: 1 100%;
  padding: 0 10px; }
  section#Home .wr .nav_top .logo, section#Service .wr .nav_top .logo, section#About .wr .nav_top .logo, section#Work .wr .nav_top .logo, section#Contact .wr .nav_top .logo {
    font-family: 'Damion', cursive;
    padding-top: 15px;
    font-size: 50px;
    color: white;
    text-decoration: none;
    margin-left: 10px; }
  section#Home .wr .nav_top nav.big_menu ul li, section#Service .wr .nav_top nav.big_menu ul li, section#About .wr .nav_top nav.big_menu ul li, section#Work .wr .nav_top nav.big_menu ul li, section#Contact .wr .nav_top nav.big_menu ul li {
    transition: all 0.3s ease; }
    section#Home .wr .nav_top nav.big_menu ul li a, section#Service .wr .nav_top nav.big_menu ul li a, section#About .wr .nav_top nav.big_menu ul li a, section#Work .wr .nav_top nav.big_menu ul li a, section#Contact .wr .nav_top nav.big_menu ul li a {
      display: inline-block;
      width: 100px;
      text-align: center;
      padding-top: 42px;
      padding-bottom: 17px;
      font-size: 18px;
      font-family: 'Lato', sans-serif;
      color: white;
      text-decoration: none; }
    section#Home .wr .nav_top nav.big_menu ul li:hover, section#Service .wr .nav_top nav.big_menu ul li:hover, section#About .wr .nav_top nav.big_menu ul li:hover, section#Work .wr .nav_top nav.big_menu ul li:hover, section#Contact .wr .nav_top nav.big_menu ul li:hover {
      border-radius: 0px 0px 5px 5px;
      background-color: #74c7d5; }
  section#Home .wr .nav_top nav.big_menu ul .act a, section#Service .wr .nav_top nav.big_menu ul .act a, section#About .wr .nav_top nav.big_menu ul .act a, section#Work .wr .nav_top nav.big_menu ul .act a, section#Contact .wr .nav_top nav.big_menu ul .act a {
    border-radius: 0px 0px 5px 5px;
    background-color: #74c7d5; }
  section#Home .wr .nav_top .button_hidden_menu, section#Service .wr .nav_top .button_hidden_menu, section#About .wr .nav_top .button_hidden_menu, section#Work .wr .nav_top .button_hidden_menu, section#Contact .wr .nav_top .button_hidden_menu {
    color: white;
    font-size: 25px;
    cursor: pointer;
    margin: 41px 30px 0px 0px; }
    section#Home .wr .nav_top .button_hidden_menu:hover, section#Service .wr .nav_top .button_hidden_menu:hover, section#About .wr .nav_top .button_hidden_menu:hover, section#Work .wr .nav_top .button_hidden_menu:hover, section#Contact .wr .nav_top .button_hidden_menu:hover {
      color: yellow; }
section#Home .wr .hidden_menu, section#Service .wr .hidden_menu, section#About .wr .hidden_menu, section#Work .wr .hidden_menu, section#Contact .wr .hidden_menu {
  display: none;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0; }
  section#Home .wr .hidden_menu ul, section#Service .wr .hidden_menu ul, section#About .wr .hidden_menu ul, section#Work .wr .hidden_menu ul, section#Contact .wr .hidden_menu ul {
    margin: 0;
    padding: 0;
    text-align: center;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    align-content: stretch; }
    section#Home .wr .hidden_menu ul li a, section#Service .wr .hidden_menu ul li a, section#About .wr .hidden_menu ul li a, section#Work .wr .hidden_menu ul li a, section#Contact .wr .hidden_menu ul li a {
      display: block;
      margin: 20px auto;
      width: 80px;
      height: 40px;
      padding: 9px 0px;
      background-color: #74c7d5;
      border-radius: 5px;
      color: white;
      text-decoration: none;
      outline: 0; }
      section#Home .wr .hidden_menu ul li a:hover, section#Service .wr .hidden_menu ul li a:hover, section#About .wr .hidden_menu ul li a:hover, section#Work .wr .hidden_menu ul li a:hover, section#Contact .wr .hidden_menu ul li a:hover {
        /*color: yellow;*/
        background-color: orange; }

/*функция для задания нужного цвета фону по выделенным пунктом верхнего меню*/
html {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
  color: white; }

*, *:before, *:after {
  box-sizing: inherit; }

/*общие настройки для враппера (контейнера для всего контента на странице)*/
.wr {
  /*стандартный экстенд для контейнера*/
  max-width: 1100px;
  flex-direction: column;
  /*направление главной оси - сверху вниз*/
  justify-content: space-between;
  /*флеш блоки будут расдвинуты в стороны по главной оси*/
  margin: 0 auto;
  /*надо поточнее выяснить назначение, короче делает посередине */
  min-height: inherit;
  /*задает высоту, как у родительского блока, т.е. как у section*/ }

/*общие настройки для секции*/
section {
  position: relative;
  min-height: 100vh;
  background: no-repeat center;
  -webkit-background-size: cover;
  background-size: cover; }

/*общие настройки для текста*/
h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: lighter;
  margin: 0; }

h2 {
  font-size: 30px;
  text-transform: uppercase;
  font-weight: lighter; }

h2.bold {
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 900; }

h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 0; }

h5 {
  font-size: 14px;
  margin: 0;
  color: #e6d1e3;
  font-weight: normal; }

/*общие настройки для ссылок*/
a {
  text-decoration: none;
  color: white; }

/*общие настройки для контейнера для текста посредине экрана*/
.container_for_text {
  /*стандартный экстенд для контейнера*/
  text-align: center;
  flex: 2;
  flex-direction: column;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  padding: 10px;
  box-sizing: border-box; }
  .container_for_text h1 {
    margin-bottom: 4vh; }
  .container_for_text h3 {
    margin-bottom: 2vh; }
    .container_for_text h3 span {
      color: #ec9da2; }

section#Home .wr {
  /*верхнее меню*/
  /*слоган*/
  /*три точки для слайдера*/ }
  section#Home .wr .nav_top nav.big_menu ul li:hover {
    background-color: #74c7d5; }
  section#Home .wr .nav_top nav.big_menu ul .act a {
    background-color: #74c7d5; }
  section#Home .wr .for-image {
    display: block;
    width: 90vw;
    height: 30vh;
    max-width: 880px;
    /*чтобы слоган не растягивался сильно на больших экранах*/
    background: no-repeat center;
    -webkit-background-size: contain;
    background-size: contain;
    align-self: center;
    flex: 3;
    /*жадность*/ }
  section#Home .wr .dots {
    flex: 1 100%;
    justify-content: center;
    align-items: center;
    /*настройки для каждой точки*/ }
    section#Home .wr .dots li {
      width: 20px;
      height: 20px;
      opacity: 0.7;
      background-color: white;
      border-radius: 50%;
      margin-right: 40px;
      transition: all 0.3s ease; }
      section#Home .wr .dots li:last-of-type {
        margin-right: 0px;
        /*последняя точка без марджина справа*/ }
      section#Home .wr .dots li:hover {
        background-color: #74c7d5;
        opacity: 1; }

section#Service .wr {
  /*верхнее меню*/ }
  section#Service .wr .nav_top nav.big_menu ul li:hover {
    background-color: #df5c64; }
  section#Service .wr .nav_top nav.big_menu ul .act a {
    background-color: #df5c64; }
  section#Service .wr .services {
    /*стандартный экстенд для контейнера*/
    flex-direction: row;
    /*как и по умолчанию - направление главной оси - слева направо*/
    justify-content: space-around;
    /*флеш блоки будут расдвинуты равномерно по гор оси*/
    align-items: center;
    flex: 1 100%; }
    section#Service .wr .services .card {
      /* это класс прямоугольной области, где есть круглая картинка + h2 + h5*/
      margin: 5px 5px 5px 5px;
      width: 260px;
      height: 400px;
      text-align: center;
      border-radius: 5px;
      background-color: #c8535a;
      opacity: 0.8; }
      section#Service .wr .services .card:hover {
        background-color: #e5656d;
        cursor: pointer;
        /*когда наводишь мышь на объект, то меняется курсор на "руку"*/ }
        section#Service .wr .services .card:hover .img {
          transform: rotateY(180deg); }
        section#Service .wr .services .card:hover h2 {
          font-weight: normal; }
      section#Service .wr .services .card .bl {
        display: block;
        width: 140px;
        margin: 0 auto;
        /*выравнивает блок bl внутри card*/
        margin-top: 42px; }
        section#Service .wr .services .card .bl .cardbg {
          background-color: #fff;
          width: 140px;
          height: 140px;
          border-radius: 50%;
          display: flex; }
          section#Service .wr .services .card .bl .cardbg .img {
            transition: 1s;
            transform-style: preserve-3d;
            margin: auto;
            width: 120px;
            height: 120px;
            border: 5px solid #c8535a;
            border-radius: 50%;
            display: flex; }
            section#Service .wr .services .card .bl .cardbg .img img {
              margin: auto; }
      section#Service .wr .services .card h5 {
        margin: 45px 25px 5px 25px;
        /*отступы - 5 сверху и снизу, 25 - слева и справа*/
        font-weight: normal; }

section#About .wr .nav_top nav.big_menu ul li:hover {
  background-color: #91778e; }
section#About .wr .nav_top nav.big_menu ul .act a {
  background-color: #91778e; }
section#About .wr .about .green {
  background-color: #a1ca6c;
  width: 276px;
  height: 54px;
  border-radius: 5px;
  margin: 5vh auto 0 auto;
  /*чтобы отодвинуть от других блоков*/
  /*стандартный экстенд для контейнера*/ }
  section#About .wr .about .green h2.bold {
    margin: auto; }
section#About .wr .about .green_arrow_vn {
  width: 22px;
  height: 22px;
  margin: 0 auto;
  position: relative; }
  section#About .wr .about .green_arrow_vn .green_arrow {
    width: 15px;
    height: 15px;
    margin: 0 auto;
    background-color: #a1ca6c;
    transform: rotate(45deg);
    position: absolute;
    top: -10px; }
section#About .wr .team {
  /*стандартный экстенд для контейнера*/
  max-width: 1100px;
  flex-direction: row;
  /*как и по умолчанию - направление главной оси - слева направо*/
  justify-content: space-around;
  /*флеш блоки будут расдвинуты равномерно по гор оси*/
  flex: 1 100%; }
  section#About .wr .team .card {
    /* это класс прямоугольной области, где есть круглая картинка + h2 + h5*/
    width: 260px;
    height: 380px;
    text-align: center;
    /*background: url(../img/card_bg.jpg);/*по умолчани. считается, что сейчас мы 
    находимся в папке css, поэтому из нее надо сначала выйти, а затем перейти в папку img 
    и открыть там нужный файл*/
    border-radius: 5px;
    background-color: #4d3f4b;
    opacity: 0.7;
    margin: 10px 5px; }
    section#About .wr .team .card .bl {
      display: block;
      width: 165px;
      height: 165px;
      margin: 0 auto;
      /*выравнивает блок bl внутри card*/
      margin-top: 42px; }
      section#About .wr .team .card .bl .cardbg {
        /*контейнер, чтобы сделать белую обводку вокруг img*/
        background-color: #fff;
        width: 165px;
        height: 165px;
        border-radius: 50%;
        display: flex; }
        section#About .wr .team .card .bl .cardbg .img {
          transition: 1s;
          transform-style: preserve-3d;
          margin: auto;
          /*по центру контейнера по гор и верт*/
          width: 155px;
          height: 155px;
          border: 5px solid #a1859e;
          /*фиолетовая граница*/
          border-radius: 50%;
          background: url(../img/User1.jpg); }
    section#About .wr .team .card h2.bold {
      color: #c7b6c5;
      margin-bottom: 10px; }
    section#About .wr .team .card h5 {
      margin: 0px 5px 5px 5px;
      /*отступы - 15 сверху, 5 - слева, справа и внизу*/
      color: #a1ca6c; }
    section#About .wr .team .card ul.social {
      justify-content: space-around;
      max-width: 180px;
      margin: 30px auto 0px auto; }
      section#About .wr .team .card ul.social li {
        text-decoration: none;
        display: block;
        width: 31px;
        height: 31px;
        border-radius: 50%; }
      section#About .wr .team .card ul.social .fb {
        background: url(../img/fb.jpg); }
      section#About .wr .team .card ul.social .tw {
        background: url(../img/tw.jpg); }
      section#About .wr .team .card ul.social .gplus {
        background: url(../img/gplus.jpg); }
      section#About .wr .team .card ul.social .in {
        background: url(../img/in.jpg); }
    section#About .wr .team .card:hover {
      cursor: pointer;
      /*когда наводишь мышь на объект, то меняется курсор на "руку"*/
      opacity: 0.8; }
      section#About .wr .team .card:hover h2.bold {
        color: #fff; }
      section#About .wr .team .card:hover h5 {
        color: #ff8973; }
      section#About .wr .team .card:hover .bl .cardbg .img {
        border-color: #df5c64;
        /*красная граница*/
        background: url(../img/User_hover.jpg);
        transform: rotateY(180deg); }
      section#About .wr .team .card:hover ul.social .fb {
        background: url(../img/fb_hover.jpg); }
      section#About .wr .team .card:hover ul.social .tw {
        background: url(../img/tw_hover.jpg); }
      section#About .wr .team .card:hover ul.social .gplus {
        background: url(../img/gplus_hover.jpg); }
      section#About .wr .team .card:hover ul.social .in {
        background: url(../img/in_hover.jpg); }

section#Work .wr .nav_top nav.big_menu ul li:hover {
  background-color: #a1ca6c; }
section#Work .wr .nav_top nav.big_menu ul .act a {
  background-color: #a1ca6c; }
section#Work .wr .row {
  /*стандартный экстенд для контейнера*/
  max-width: 1100px;
  flex-direction: row;
  /*как и по умолчанию - направление главной оси - слева направо*/
  border-top: 1px solid #94b963;
  /*граница сверху блока*/
  border-bottom: 1px solid #94b963;
  /*граница снизу блока*/
  align-items: center;
  min-height: 9vh;
  margin: 10px;
  padding: 10px; }
  section#Work .wr .row h3 {
    font-weight: 700; }
  section#Work .wr .row nav ul {
    justify-content: center; }
    section#Work .wr .row nav ul li a {
      display: block;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      padding: 10px 30px;
      /*чтобы получился пункт меню*/ }
    section#Work .wr .row nav ul li:hover {
      border-radius: 4px;
      background-color: #f5c149; }
section#Work .wr .works {
  /*стандартный экстенд для контейнера*/
  max-width: 1100px;
  flex-direction: row;
  /*как и по умолчанию - направление главной оси - слева направо*/
  justify-content: space-around;
  /*флеш блоки будут раздвинуты в стороны по гор оси*/
  /*margin: 0 auto; /*надо поточнее выяснить назначение, короче делает посередине */
  flex: 1 100%; }
  section#Work .wr .works .card {
    width: 260px;
    height: 250px;
    padding: 0px;
    margin: 5px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    /*стандартный экстенд для контейнера*/
    flex-direction: column;
    justify-content: space-between; }
    section#Work .wr .works .card .img {
      width: 260px;
      height: 200px;
      background: no-repeat center;
      /*настройки для фоновой картинки*/
      -webkit-background-size: cover;
      background-size: cover;
      position: absolute; }
    section#Work .wr .works .card .for-hover {
      width: 260px;
      height: 200px;
      background: url(../img/for-hover.jpg) no-repeat center;
      /*настройки для фоновой картинки*/
      -webkit-background-size: cover;
      background-size: cover;
      position: relative;
      opacity: 0; }
    section#Work .wr .works .card h3 {
      margin: 0px auto 17px auto;
      font-size: 14px;
      color: #727272;
      text-transform: uppercase; }
    section#Work .wr .works .card:hover {
      cursor: pointer;
      /*когда наводишь мышь на объект, то меняется курсор на "руку"*/ }
      section#Work .wr .works .card:hover .for-hover {
        opacity: 1; }
      section#Work .wr .works .card:hover h3 {
        color: #000; }

section#Contact {
  min-height: 86vh; }
  section#Contact .wr .nav_top nav.big_menu ul li:hover {
    background-color: #82c8bd; }
  section#Contact .wr .nav_top nav.big_menu ul .act a {
    background-color: #82c8bd; }
  section#Contact .wr .contactUs h5 {
    font-size: 14px;
    color: #e6d1e3;
    margin: 0; }
  section#Contact .wr .container {
    /*стандартный экстенд для контейнера*/
    max-width: 1100px;
    flex-direction: row;
    /*как и по умолчанию - направление главной оси - слева направо*/
    justify-content: center;
    /*флеш блоки будут раздвинуты в стороны по гор оси*/
    flex: 1 100%;
    padding: 10px;
    box-sizing: border-box; }
    section#Contact .wr .container .adress {
      min-height: 275px;
      /*вставил недавно для узких экранов*/
      margin: 0;
      margin-bottom: 10px;
      width: 49%;
      min-width: 535px;
      /* для узких экранов*/
      max-width: 800px;
      /* для узких экранов*/
      flex-grow: 1;
      padding: 5px;
      box-sizing: border-box; }
      section#Contact .wr .container .adress .row1 {
        color: white;
        font-size: 30px;
        margin: 0px;
        margin-bottom: 10px;
        width: 100%;
        height: 40px; }
      section#Contact .wr .container .adress .row2 {
        /*стандартный экстенд для контейнера*/
        flex-direction: row;
        /*как и по умолчанию - направление главной оси - слева направо*/
        justify-content: space-between;
        /*флеш блоки будут раздвинуты в стороны по гор оси*/
        height: 220px;
        width: 100%; }
        section#Contact .wr .container .adress .row2 .text {
          min-width: 215px;
          flex-grow: 0; }
          section#Contact .wr .container .adress .row2 .text span {
            color: #c0dfda;
            font-size: 20px; }
          section#Contact .wr .container .adress .row2 .text p {
            color: white;
            font-size: 16px; }
          section#Contact .wr .container .adress .row2 .text a {
            text-decoration: none;
            font-size: 16px;
            color: white; }
        section#Contact .wr .container .adress .row2 .map {
          flex-grow: 0;
          width: 300px;
          height: 220px; }
    section#Contact .wr .container .forms {
      /*height: 40vh;*/
      min-height: 350px;
      /*вставил недавно для узких экранов*/
      min-width: 360px;
      /*вставил недавно для узких экранов*/
      max-width: 800px;
      width: 49%;
      flex-grow: 1;
      margin: 0;
      padding: 5px;
      box-sizing: border-box; }
      section#Contact .wr .container .forms .row1 {
        color: white;
        font-size: 30px;
        margin: 0px;
        margin-bottom: 10px;
        height: 40px; }
      section#Contact .wr .container .forms .row2 {
        /*стандартный экстенд для контейнера*/
        flex-direction: row;
        /*как и по умолчанию - направление главной оси - слева направо*/
        justify-content: space-between;
        /*флеш блоки будут раздвинуты в стороны по гор оси*/
        height: 220px; }
        section#Contact .wr .container .forms .row2 [type="text"], section#Contact .wr .container .forms .row2 [type="email"] {
          height: 20%;
          width: 48%;
          padding: 0 20px;
          box-sizing: border-box;
          background-color: #68a097;
          border-radius: 4px;
          margin-bottom: 2vh;
          color: #82c8bd;
          font-size: 16px;
          font-weight: lighter;
          border: none;
          text-decoration: none; }
          section#Contact .wr .container .forms .row2 [type="text"]:focus, section#Contact .wr .container .forms .row2 [type="email"]:focus {
            background-color: white;
            color: #b5b5b5; }
        section#Contact .wr .container .forms .row2 textarea {
          padding: 20px;
          box-sizing: border-box;
          width: 100%;
          background-color: #68a097;
          border-radius: 4px;
          height: 75%;
          color: #82c8bd;
          font-size: 16px;
          font-weight: lighter;
          border: none;
          text-decoration: none; }
          section#Contact .wr .container .forms .row2 textarea:focus {
            background-color: white;
            color: #b5b5b5; }
      section#Contact .wr .container .forms .row3 {
        height: 100px;
        /*стандартный экстенд для контейнера*/ }
        section#Contact .wr .container .forms .row3 .button {
          position: relative;
          width: 260px;
          height: 50px;
          margin: auto; }
          section#Contact .wr .container .forms .row3 .button .chart1 {
            border: none;
            background-color: #df5c64;
            position: absolute;
            width: 260px;
            height: 50px;
            top: 0;
            left: 0;
            z-index: 2;
            transition: 0.5s;
            text-align: center;
            border-radius: 4px;
            color: white;
            font-size: 26px;
            font-weight: bold;
            text-transform: uppercase;
            /*box-shadow: inset 0 -4px 0 rgba(178, 74, 80, 0.5);*/ }
          section#Contact .wr .container .forms .row3 .button .chart2 {
            background-color: #e6656d;
            position: absolute;
            width: 70px;
            height: 50px;
            font-size: 16px;
            top: 0;
            right: 0;
            z-index: 1;
            border-radius: 4px;
            text-align: center;
            line-height: 25px;
            padding-left: 10px; }
          section#Contact .wr .container .forms .row3 .button:hover {
            cursor: pointer; }
            section#Contact .wr .container .forms .row3 .button:hover .chart1 {
              cursor: pointer;
              width: 200px; }
  section#Contact .social {
    height: 14vh;
    min-height: 100px;
    background-color: #68a097;
    /*стандартный экстенд для контейнера*/
    justify-content: center;
    -ms-align-items: center;
    align-items: center; }
    section#Contact .social ul.for-social {
      justify-content: space-between;
      width: 340px;
      height: 60px;
      /*margin: auto;*/ }
      section#Contact .social ul.for-social li {
        text-decoration: none;
        display: block;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        transition: 1s;
        transform-style: preserve-3d; }
      section#Contact .social ul.for-social .fb {
        background: url(../img/fb_green.jpg) 0 0 no-repeat; }
      section#Contact .social ul.for-social .tw {
        background: url(../img/tw_green.jpg) 0 0 no-repeat; }
      section#Contact .social ul.for-social .gplus {
        background: url(../img/gplus_green.jpg) 0 0 no-repeat; }
      section#Contact .social ul.for-social .in {
        background: url(../img/in_green.jpg) 0 0 no-repeat; }
      section#Contact .social ul.for-social .fb:hover, section#Contact .social ul.for-social .tw:hover, section#Contact .social ul.for-social .gplus:hover, section#Contact .social ul.for-social .in:hover {
        transform: rotateY(360deg); }

@media screen and (max-width: 1980px) {
  .big_menu {
    display: block; }

  .button_hidden_menu {
    display: none; }

  #PORTFOLIO {
    justify-content: space-between; } }
@media screen and (max-width: 768px) {
  .big_menu {
    display: none; }

  .button_hidden_menu {
    display: block; }

  #PORTFOLIO {
    justify-content: center; }
    #PORTFOLIO h3 {
      min-width: 190px;
      /*это чтобы отодвинуть блок навигации, когда ширина экрана меньше 768*/
      text-align: center; } }

/*# sourceMappingURL=style.css.map */
